<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1"
>
    <!--  metadata-complete="true" :   要忽略注解
          metadata-complete="false":   不忽略注解  默认 -->

    <!--同一个servlet 可以在xml和注解中同时配置，但是path不能一样，否则部署时报错，-->
    <!--如果同时配置两个path不一样的servlet，实际上是有两个不一样的servlet实例-->


    <!--<servlet>-->
        <!--<servlet-name>HelloServlet</servlet-name>-->
        <!--<servlet-class>com.bing.lan.HelloServlet</servlet-class>-->
        <!--<init-param>-->
            <!--<param-name>characterEncoding</param-name>-->
            <!--<param-value>UTF-8</param-value>-->
        <!--</init-param>-->
        <!--<init-param>-->
            <!--<param-name>name</param-name>-->
            <!--<param-value>Binglan</param-value>-->
        <!--</init-param>-->

    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>HelloServlet</servlet-name>-->
        <!--<url-pattern>/hello</url-pattern>-->
    <!--</servlet-mapping>-->


</web-app>